<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="triggerTemplate">
      <div class='logo'>
          <div style='text-align: center;'>
            <nz-badge [nzCount]="0" style="margin: 0 auto;">
              <nz-avatar nzIcon="anticon anticon-user" [nzSrc]='photoPath'></nz-avatar>
          </nz-badge>
          </div>
      </div>
      <div style='text-align: center;'>
         <!--用户名-->
        <nz-tag [nzColor]="'geekblue'" >
          <span *ngIf='applicationManage._basicInfo'>{{applicationManage._basicInfo.name}}</span>
        </nz-tag>
      </div>
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu>
          <span title><i nz-icon type="team"></i><span class="nav-text">个人信息管理</span></span>
          <ul>
            <li nz-menu-item><a routerLink='basic-info/main'>个人资料</a></li>
            <li nz-menu-item><a routerLink='person-account/main'>个人账户</a></li>
          </ul>
        </li>
      </ul>
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
          <li nz-submenu>
            <span title><i nz-icon type="money-collect" theme="outline"></i><span class="nav-text">工资信息管理</span></span>
            <ul>
              <li nz-menu-item><a routerLink='salary/main'>薪水及报表</a></li>
            </ul>
          </li>
      </ul>
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
          <li nz-submenu>
            <span title><i nz-icon type="money-collect" theme="outline"></i><span class="nav-text">娱乐广场</span></span>
            <ul>
              <li nz-menu-item><a routerLink='social-contact/main'>发表动态</a></li>
              <li nz-menu-item><a routerLink='social-contact/playground'>广场动态</a></li>
            </ul>
          </li>
      </ul>
      <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu>
          <span title><i nz-icon type="money-collect" theme="outline"></i><span class="nav-text">unity程序</span></span>
          <ul>
            <li nz-menu-item><a routerLink='unity/dashboard'>仪表板</a></li>
            <li nz-menu-item><a routerLink='unity/upload'>程序上传</a></li>
          </ul>
        </li>
    </ul>
      <div class='item-column item'>
          <button nz-button nzType="primary" (click)="logout()" [nzLoading]="isLogouting">注销</button>
      </div>
    </nz-sider>
    <nz-layout>
      <nz-header style="background: #fff; padding:0;">
        <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'" (click)="isCollapsed=!isCollapsed"></i>
      </nz-header>
      <nz-content style="margin:0 16px;">
        <!-- <nz-breadcrumb style="margin:16px 0;">
          导航指南
          <nz-breadcrumb-item>User</nz-breadcrumb-item>
          <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
        </nz-breadcrumb> -->
        <div style="padding:24px; background: #fff; min-height: 360px;">
          <!--路由主出口-->
          <router-outlet></router-outlet>
        </div>
        <nz-footer style="text-align: center;">K-OA 办公系统 王凯 ©2018Implement By Ant Design</nz-footer>
      </nz-content>
    </nz-layout>
  </nz-layout>
  <ng-template #trigger>
    <i nz-icon type="up"></i>
  </ng-template>
